<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <label class="label-head">Todo Remainders</label>
                </div>
                <div class="card-block">
                    <ul class="list-group">
                        <li class="list-group-item">Reminder1</li>
                        <li class="list-group-item list-group-item-success">Reminder2</li>
                        <li class="list-group-item list-group-item-info">Reminder3</li>
                        <li class="list-group-item list-group-item-warning">Reminder4</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <label class="label-head">Todo Search Criteria</label>
                </div>
                <div class="card-block">
                    <form>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Name</label>
                            <div class="col-10">
                                <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-2 col-form-label">Email</label>
                            <div class="col-10">
                                <input class="form-control" type="text" value="" id="example-text-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">D.O.B</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                            </div>
                        </div>
                        <div class="form-group row" id="btn-form">                            
                            <button type="button" class="btn btn-primary" (click)="getAllPersons()">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Contacts
                </div>
                <div class="card-block">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email Id</th>
                                <th>Birthday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let person of persons">
                                <td>{{person.id}}</td>
                                <a [routerLink]="['/person-details', person.id]">{{person.firstName}}</a>
                                <td>{{person.lastName}}</td>
                                <td>{{person.emailId}}</td>
                                <td>{{person.phoneNumber}}</td>
                                <td>{{person.dob | date: 'MMM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>