<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                Search Criteria
                <button type="button" class="btn btn-link btn-sm fa fa-search float-right text-white" (click)="getAllPersonsBySearchCriteria()"> Search</button>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-4">
                        <label for="firstNameSearch">First Name</label>
                        <input type="text" class="form-control" id="firstNameSearch" name="firstNameSearch" [(ngModel)]="personSearchCriteria.firstName"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="lastNameRead">Last Name</label>
                        <input type="text" class="form-control" id="lastNameRead" name="lastNameRead" [(ngModel)]="personSearchCriteria.lastName"
                        />
                    </div>
                    <div class="col-md-4">
                        <label for="emailIdRead">E-mail Id</label>
                        <input type="email" class="form-control" id="emailIdRead" name="emailIdRead" [(ngModel)]="personSearchCriteria.emailId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-success text-white">
                Contact List
                <button type="button" class="btn btn-link btn-sm fa fa-plus float-right text-white" [routerLink]="['/#/person-details/create']"> Create</button>
            </div>
            <div class="card-block">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Email Id</th>
                            <th>DOB</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of commonService.persons">
                            <td class="width20"><a [routerLink]="['/#/person-details', person.id]">{{person.firstName}}</a></td>
                            <td class="width20">{{person.lastName}}</td>
                            <td class="width20">{{person.emailId}}</td>
                            <td class="width20">{{person.phoneNumber}}</td>
                            <td class="width5">{{person.dob | date: 'MMM/dd/yyyy'}}</td>
                            <td class="width5"><button type="button" class="btn btn-link btn-sm fa fa-trash text-danger" aria-hidden="true"
                                    data-toggle="modal" data-target="#deletePerson" (click)="selectPersonForDelete(person)"> Delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deletePerson" tabindex="-1" role="dialog" aria-labelledby="deletePersonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePersonModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete person?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" (click)="deletePerson()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>