<div class="container-fluid">

  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          Personal Details
        </div>
        <div class="card-block">
          <form *ngIf="selectedPerson">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="firstNameRead">First Name</label>
                  <input type="text" class="form-control" id="firstNameRead" value="{{selectedPerson.firstName}}" disabled/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="lastNameRead">Last Name</label>
                  <input type="text" class="form-control" id="lastNameRead" value="{{selectedPerson.lastName}}" disabled />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="dobRead">DOB</label>
                  <input type="text" class="form-control" id="dobRead" value="{{selectedPerson.dob}}" disabled/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="genderRead">Gender</label>
                  <select class="form-control" id="exampleSelect2" value="{{selectedPerson.gender}}" disabled>
                    <option>Female</option>
                    <option>Male</option>      
                   </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="maritalStatusRead">Marital Status</label>
                  <select class="form-control" id="maritalStatusRead" value="{{selectedPerson.maritalStatus}}" disabled>
                    <option>Single</option>
                    <option>Married</option>      
                   </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phoneNumberRead">Phone Number</label>
                  <input type="text" class="form-control" id="phoneNumberRead" value="{{selectedPerson.phoneNumber}}" disabled/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alternatePhoneNumberRead">Alternate Phone Number</label>
                  <input type="text" class="form-control" id="alternatePhoneNumberRead" value="{{selectedPerson.alternatePhoneNumber}}" disabled/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="emailIdRead">EmailId</label>
                  <input type="text" class="form-control" id="emailIdRead" value="{{selectedPerson.emailId}}" disabled/>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="alternateEmailIdRead">Alternate EmailId</label>
                  <input type="text" class="form-control" id="alternateEmailIdRead" value="{{selectedPerson.alternateEmailId}}" disabled/>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          Image
        </div>
        <div class="card-block" *ngIf="selectedPerson">
          <img *ngIf="selectedPerson.image" src="{{selectedPerson.image}}" class="img-fluid" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Address
        </div>
        <div class="card-block" *ngIf="selectedPerson">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Address Line1</th>
                <th>Address Line2</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>ZipCode</th>
              </tr>
            </thead>
            <tbody *ngIf="selectedPerson.addressList">
              <tr *ngFor="let address of selectedPerson.addressList">
                <td>{{address.id}}</td>
                <td>{{address.addressLine1}}</td>
                <td>{{address.addressLine2}}</td>
                <td>{{address.city}}</td>
                <td>{{address.state}}</td>
                <td>{{address.country}}</td>
                <td>{{address.zipCode}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Occasions
        </div>
        <div class="card-block" *ngIf="selectedPerson">
           <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>RemindMe</th>
              </tr>
            </thead>
            <tbody *ngIf="selectedPerson.occasionList">
              <tr *ngFor="let occasion of selectedPerson.occasionList">
                <td>{{occasion.id}}</td>
                <td>{{occasion.name}}</td>
                <td>{{occasion.date | date: 'MMM/dd/yyyy'}}</td>
                <td>{{occasion.remindMe}}</td>              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>