.foo
{
    padding-bottom: 40px;

}

.little
{
    font-size: 10px;
    padding-left: 5px;
    font-style: italic;
}

#alert-box
{
    padding: none;
    font-size: small;
    background-color: white;
    border-color: white;
    text-align: center;
}

#delete-alert
{
    height: 50px;
}

.button-right
{
        background-color: #efead0;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.button-right:hover
{
    background-color: #d6cda5;
}