<div class="card">
    <div class="card-header bg-success text-white">
        <div class="row">
            <div class="col-md-4">
                <h3>My Contacts</h3>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <br>
                <a class="float-right toggleLeft fa fa-address-book-o text-white" [routerLink]="['#/persons']"> Contacts</a>
                <a class="float-right fa fa-home text-white" [routerLink]="['']"> Dashboard</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <router-outlet></router-outlet>
    </div>
</div>