/* You can add global styles to this file, and also import other style files */
.toggleLeft { 
    margin-left:20px ;
}

.width25 {
     width:25%;
}

.width20 {
     width:20%;
}

.width10 {
     width:10%;
}

.width5 {
     width:5%;
}
